
@{
    ViewBag.Title = "ShowMeJsonDataInTable";
}

<h2>ShowMeJsonDataInTable</h2>

<table id="tbleEmp" class="table table-bordered table-condensed">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>EmpSalary</th>
    </tr>
</table>

<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $.ajax({

        url: "http://localhost:58423/Employee/Getjson",
        type: "GET",
        datatype: "json",
        success:function(res)
        {
            $.each(res, function (i, key) {

                $('#tbleEmp tr:last').after("<tr><td>" + key.EmpId + "</td><td>" + key.EmpName + "</td><td>" + key.EmpSalary + "</td></tr>")

            })
        }

    })
</script>